@import "./reset.css";
@import "./common.css";
@import "./wiki-layout.css";

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  max-width: 750px;
}

.favorites {
  display: flex;
  gap: 1rem;
}

.comment-author-icon {
  width: 23.35px;
  height: 23.35px;
  margin: 0 10px;
}

.reply-input {
  display: flex;
  height: 40px;
  padding: 0;
  margin: 0;
  flex: 1;
  border: none;
  width: 789px;
}

.reply-input::placeholder {
  color: #cccccc;
  font-size: 12px;
}
#submitComment {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #d7f9f6;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  white-space: nowrap;
  width: 70px;
  font-weight: bold;
}

#submitComment:hover {
  background-color: #45a049;
}

#submitComment:active {
  background-color: #388e3c;
}

#resetComment {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #d8d8d8;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  white-space: nowrap;
  width: 70px;
  font-weight: bold;
}

#resetComment:hover {
  background-color: #e53935;
}

#resetComment:active {
  background-color: #c62828;
}

.comment-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding: 0;
  background-color: #ffffff;
  gap: 10px;
  margin-top: 20px;
}

.comment-item {
  border: 1px solid #eee;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-author span {
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.comment-content {
  font-size: 12px;
  color: #555;
  line-height: 1.6;
  word-wrap: break-word;
  max-width: 100%;
}

.comment-content em {
  font-size: 18px;
  color: #f1a500;
}

.comment-item:hover {
  background-color: #fafafa;
  cursor: pointer;
  transition: background-color 0.3s;
}

fieldset {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border: 1px solid #ccc;
  align-items: center;
}
